<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"
>
  <title>スタンプラリー進捗</title>
  <link rel="stylesheet" href="/static/stayle.css">
</head>
<body>
    <div id="header-container"></div>
  <script>
    fetch('/static/header.html')
      .then(response => response.text())
      .then(data => document.getElementById('header-container').innerHTML = data)
      .catch(error => console.error('ヘッダーの読み込み中にエラー:', error));
  </script>
  <h1>My Page</h1>
 
  <div class="content1">
    <div id="stamprally1" class="stamprally-item1">
      <h2 class="completed">👑 Completed 👑</h2>
      <div class="scroll-container-wrapper">
        <div class="scroll-container" id="completedRallies">
            <!--  完了済みスタンプラリーがここに表示されます -->
        </div>
      </div>
    </div>
    <div id="stamprally2" class="stamprally-item1">
      <h2 class="in-progress">👑 In Progress 👑</h2>
      <div class="scroll-container-wrapper">
        <div class="scroll-container" id="inProgressRallies">
            <!--  進行中のスタンプラリーがここに表示されます -->
        </div>
      </div>
    </div>
  </div>
 
  <script>
      // 完了済みスタンプラリーを取得する
    fetch('/api/user/completed-rallies')
      .then(response => response.json())
      .then(data => {
        const completedRalliesContainer = document.getElementById('completedRallies');
        data.forEach(rally => {
          const button = document.createElement('button');
          button.classList.add('join-button1');
          button.textContent = rally.name;
          completedRalliesContainer.appendChild(button);
        });
      })
      .catch(error => {
        console.error('Error fetching completed rallies:', error);
      });
      // 進行中スタンプラリーを取得する
    fetch('/api/user/in-progress-rallies')
      .then(response => response.json())
      .then(data => {
        const inProgressRalliesContainer = document.getElementById('inProgressRallies');
        data.forEach(rally => {
          const button = document.createElement('button');
          button.classList.add('join-button2');
          button.textContent = rally.name;
          inProgressRalliesContainer.appendChild(button);
        });
      })
      .catch(error => {
        console.error('Error fetching in-progress rallies:', error);
      });
  </script>
 
</body>
</html>